Create a virtual environment:
- python3 -m venv venv


Activate the virtual environment:
- source venv/bin/activate
Install libaries

- pip install pvrecorder
- pip install RPi.GPIO
- pip install openai
- pip install whisper
- pip install embedchain
- pip install pvporcupine
- pip install pydub
Issue with installing the simpleaudio package due to a missing dependency related to ALSA (Advanced Linux Sound Architecture).
To resolve this, you need to install the ALSA development headers
- sudo apt-get install libasound2-dev
- pip install simpleaudio
- pip install gpiozero
